@import "tailwindcss";

:root {
  --background: #fffff;
  --foreground: #050505;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  @apply bg-background text-foreground;
}

a {
  @apply underline;
}
